ul{
	list-style: none;
	padding: 0px;
	margin: 0px;
}

a{
	color: black;
	text-decoration: none;
}

li{
	display: inline-block;
	padding: 0px;
	margin: 0px;

}

body{
	padding: 0px;
	margin: 0px;
	font-family: 'Roboto', sans-serif;
}

.logo{
	width: 210px;
	height: 50px;
	margin-top: 15px;
	margin-left:190px;
}

.encabezado{
	height:90px;
	margin: 0px;
	padding: 0px;
	background-color: #E6E6E6;
}

.barra{
	background-color: #E6E6E6;
	height: 40px;
}

select, button, a, option{
	font-family: 'Roboto', sans-serif;
}

.buttonview{
	height: 50px;
	width: 300px;
	border: 1px solid grey;
	background-color: #E6E6E6;
	padding: 8px;
	padding-right: 10px;

}

.text2{
	display: inline-block;
	font-size: 14px;
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
}

select{
	border:none;
	width: 150px;
}

select:active{
	background-color: grey;
}

.buttonview:hover{
	background-color: #FFBF00;
}

.pie{
	outline: 1px solid orange;
}


/* stephie*/
.estudiante{
	background-color:#F5F5F5;
}
.primer-cuadro{
	background-color: white;
	height: 300px;
	width: 350px;
	margin-left: 70px;
	margin-top: 30px;
	display: inline-block;
	overflow: hidden;
	margin-bottom: 30px;
}
.treinta{
	color: red;
}
.green{
	color: green;
}

.cuadrito{
	background-color:#F5F5F5 ;
	height: 55px;
	width: 120px;
	margin-left: 30px;
	margin-top: -10px;
	display: inline-block;
	overflow: hidden;
}
h3{
	margin-left:39px;
}
h4{
	margin-left: 45px;
	margin-top: 2px;
	display: inline-block;
}
.icon{
	display: inline-block;
	color: green;
}
p{
	font-size: 10px;
	margin-top: -20px;
	text-align: center;
	font-family: sans-serif;

}
.grafico{
	margin-top: 12px;
margin-left: 25px;
width: 300px;
}
.segundo-cuadro{
	background-color: white;
	height: 300px;
	width: 350px;
	margin-left: 30px;
	margin-top: 30px;
	margin-bottom: 30px;
	display: inline-block;
	overflow: hidden;
}
.linea{
	margin-top: -10px;
  margin-left: 25px;
  width: 300px;
	height: 220px;
}
.tercer-cuadro{
	background-color: white;
	height: 300px;
	width: 350px;
	margin-left: 30px;
	margin-top: 30px;
	margin-bottom: 30px;
	display: inline-block;
	overflow: hidden;
}
.linea1{
	margin-top: 30px;
  margin-left: 25px;
  width: 300px;
	height: 160px;
}

.texto{
	margin-top: 2px;
	text-align: left;
	font-size: 10px;
}
.tecnico{
	background-color: #F5F5F5;
	padding: 30px;
}

.caja-tecnico{
	margin-left: 65px;
	height: 500px;
	width: 1100px;
	background-color: white;

}
.texto2{
	margin: 0px;
	padding: 0px;
	margin-top:  20px;
	margin-left: 35px;
	display: inline-block;
}

.filtro1{
	display: inline-block;

}
.cajita{
	display: block;
	background-color:#F5F5F5 ;
	height: 55px;
	width: 120px;
	margin-left: 30px;
	margin-top: 20px;
}
.cajita1{
	background-color:#F5F5F5 ;
	height: 55px;
	width: 120px;
	position: absolute;
	left: 270px;
	top:600px;
}
.grafico-barras{
	display: inline-block;
	margin-left: 20px;
	margin-bottom: 15px;
	height: 350px;
	width: 600px;
	overflow: hidden;
}
.caja-torta{
	display: inline-block;
	height: 350px;
	width: 400px;
	margin-bottom: 20px;
	overflow: hidden;
}
.grafico-torta{
	margin-left: 50px;
	height: 250px;
	width: 300px;
}
.verde{
	background-color: green;
	height: 10px;
	width: 20px;
	margin-left: 40px;
	margin-top: 20px;
	display: inline-block;
}
.rojo{
	background-color: red;
	height: 10px;
	width: 20px;
	margin-left: 40px;
	margin-top: 20px;
}
.texto3{
	margin-left: 4px;
	display: inline-block;
}
.texto4{
	position: absolute;
	top: 1000px;
	left: 790px;
}
.hse{
	padding: 30px;
	background-color: #F5F5F5;
}
.filtro2{
	display: inline-block;
}
.texto5{
	display: inline-block;
}
.caja-hse{
	margin-left: 65px;
	height: 500px;
	width: 1100px;
	background-color: white;
}
.cajita2{
	background-color:#F5F5F5 ;
	height: 55px;
	width: 120px;
	position: absolute;
	left: 270px;
	top:1185px;
}
.texto6{
	position: absolute;
	top: 1577px;
	left: 785px;
}
.encuesta{
	padding: 30px;
	background-color: #F5F5F5;
}
.texto7{
	text-align: center;
	font-size: 30px;
}
.izquierda{
	float: left;
}

.logotipo{
	margin-left: 300px;
}


/*menu desplegable*/
.dropbtn {
    background-color: #E6E6E6;
    color: black;
    padding: 16px;
    font-size: 30px;
    border: none;
    cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: #FFBF00;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
	background-color: #FFBF00;
}


.show {
	display:block;
}
