ul{	
	list-style: none;
}

li{
	outline: 1px solid blue;
	display: inline-block;
}

body{
	padding: 0px;
	margin: 0px;
}

.logo{
	width: 200px;
	height: 40px;
	margin-top: 15px;
}

.encabezado{
	outline: 1px solid hotpink;
	height:90px;
}

.usuario{
	outline: 1px solid crimson;
}

.barra{
	outline: 1px solid darkblue;
}

.tecnico{
	outline: 1px solid green;
}

.hse{
	outline: 1px solid yellow;
}

.encuesta{
	outline: 1px solid red;
}

.pie{
	outline: 1px solid orange;	
}

.izquierda{
	float: left;
}

.logotipo{
	margin-left: 300px;
}
