ul{	
	list-style: none;
}

li{
	outline: 1px solid blue;
	display: inline-block;
}

body{
	padding: 0px;
	margin: 0px;
}

.logo{
	width: 200px;
	height: 40px;
	margin-top: 15px;
}

.encabezado{
	outline: 1px solid hotpink;
	height:90px;
}

.usuario{
	outline: 1px solid crimson;
}

.barra{
	outline: 1px solid darkblue;
}

.tecnico{
	outline: 1px solid green;
}

.hse{
	outline: 1px solid yellow;
}

.encuesta{
	outline: 1px solid red;
}

.pie{
	outline: 1px solid orange;
}
/* stephie*/
.estudiante{
	background-color: #F5F5F5;
}
.primer-cuadro{
	margin: 0px;
	border: 1px solid red;
	height: 300px;
	width: 350px;
	margin-left: 70px;
	margin-top: 60px;
	display: inline-block;
	overflow: hidden;
}
h3{
	left: 70px;
}
.cuadrito{
	border: 1px solid red;
	background-color: #F5F5F5;
	height: 50px;
	width: 100px;
	left: 20px;
	display: inline-block;
	overflow: hidden;
}
.segundo-cuadro{
	border: 1px solid red;
	height: 300px;
	width: 350px;
	margin-left: 30px;
	margin-top: 40px;
	display: inline-block;
	overflow: hidden;
}
.tercer-cuadro{
	border: 1px solid red;
	height: 300px;
	width: 350px;
	margin-left: 30px;
	margin-top: 40px;
	display: inline-block;
	overflow: hidden;
}

.izquierda{
	float: left;
}

.logotipo{
	margin-left: 300px;
}
